<div class="basket-container">
  
  <div class="basket-left">
    <h2>Carrito</h2>

    <ng-container *ngIf="items$ | async as items">
      <mat-card *ngFor="let item of items">
        {{ item.qty }} x {{ item.product.title }} — {{ item.product.price | currency:'EUR' }}
        <button mat-button color="warn" (click)="removeItem(item.product.id)">Quitar</button>
      </mat-card>

      <button mat-stroked-button color="warn" (click)="clear()" *ngIf="items.length">
        Vaciar carrito
      </button>
    </ng-container>

    <h3>Total: {{ total$ | async | currency:'EUR' }}</h3>
  </div>

  
  <div class="basket-right">
    <h2>Envío</h2>
    <form [formGroup]="form" (ngSubmit)="submit()" class="basket-form">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="apellido">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>CP</mat-label>
        <input matInput formControlName="cp">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        Proceder al pago
      </button>
    </form>
  </div>
</div>
