<div class="footer-container">
    <div class="footer-columns">
        <div class="footer-column">
            <strong>Columna 1</strong>
            <p>Contenido primera columna</p>
        </div>
        <div class="footer-column">
            <strong>Columna 2</strong>
            <p>Contenido segunda columna</p>
        </div>
        <div class="footer-column">
            <strong>Columna 3</strong>
            <p>Contenido tercera columna</p>
        </div>
    </div>
    <p>Página realizada por la Universidad Europea</p>
</div>