.tooltip-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-top: 0.5rem;
}

.tooltip-logo {
    cursor: pointer;
    height: 50px;
}


.button-mobile {
    display: none;
}

.button-browser {
    display: flex;
    align-items: center;;
}


@media (max-width: 768px) {
  .button-browser {
    display: none;
  }

  .button-mobile {
    display: flex;
    align-items: center;
  }
}