.tooltip-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-top: 0.5rem;
}

.tooltip-logo {
    height: 50px;

}